.add-credential-modal {
    &__modal-step-ruler {
        min-height: 2px;
        height: 2px;
        width: 100%;
        border-radius: 2px;
        content: '&nbsp;';
        &--purple {
            background-color: $logo-purple;
        }
        &--blue {
            background-color: $logo-blue;
        }
    }
}
